<html>
	<head>
		<title>Folgur | About</title>
		<meta name="Description" content="Finally! Favorites Folders for Imgur!">
		<meta name="Keywords" content="folgur, imgur, favorites, folders">
		<link href="/stylesheets/common.css" rel="stylesheet">
		<%- include("partials/favicon") %>
	</head>
	<body>
		<a class="aback" href="/"><h1>Back</h1></a>
		<div class="container">
			<markdown><%- readme %></markdown>
			<script src="/javascripts/tagdown.min.js"></script>
		</div>
	</body>
</html>