<html>
	<head>
		<title>Folgur | Login</title>
		<meta name="Description" content="Finally! Favorites Folders for Imgur!">
		<meta name="Keywords" content="folgur, imgur, favorites, folders">
		<link href="/stylesheets/common.css" rel="stylesheet">
		<%- include("partials/favicon") %>
	</head>
	<body>
		<div class="container">
			<div style="text-align: center;"><h1 class="author" style="font-family: 'Roboto Condensed', sans-serif">Folgur</h1><h3 class="author" style="font-family: 'Roboto Condensed', sans-serif">By Nifty255</h3></div>
			<div style="text-align: center;"><a class="blink" href="<%- authLink %>"><button class="imgur">Login with Imgur</button></a></div>
			<p class="indent">Finally! Favorites folders for Imgur! Simply log in, sort your favorites into folders, and use the folder navigator to copy links to your favorites!</p>
			<div style="text-align: center;"><a class="blink" href="/about"><button class="imgur">Learn More</button></a></div>
		</div>
	</body>
</html>